n8n/workflows/case_ingest.json
{
  "name": "MDR Case Ingest",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "case-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook - Case Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ],
      "webhookId": "mdr-case-ingest"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  case_id: body.id || ('CASE-' + Date.now()),\n  title: body.title || '',\n  description: body.description || '',\n  threat_actor: body.threat_actor || 'Unknown',\n  source: body.source || 'Unknown',\n  industry: body.industry || 'universal',\n  mitre_tactics: body.mitre_tactics || [],\n  mitre_techniques: body.mitre_techniques || [],\n  tools: body.tools || [],\n  context: body.context || '',\n  submitted_by: body.submitted_by || '',\n  submitted_at: body.submitted_at || new Date().toISOString()\n}}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Parse Case Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const c = $input.first().json;\nconst tactics = (c.mitre_tactics || []).join(', ') || 'Unknown';\nconst techniques = (c.mitre_techniques || []).join(', ') || 'Unknown';\nconst tools = (c.tools || []).join(', ') || 'Unknown';\n\nconst schema = '{\"title\":\"short demo title\",\"description\":\"2-3 sentence customer-facing description\",\"mitre_tactics\":[\"Tactic1\",\"Tactic2\"],\"mitre_techniques\":[{\"id\":\"T1234.001\",\"name\":\"Technique Name\"}],\"tools\":[\"tool1\",\"tool2\"],\"atomic_tests\":[\"T1234.001-1\"],\"caldera_ability\":\"slug-id\",\"audience\":\"Technical\",\"platform\":\"windows\",\"execution_engine\":\"atomic\",\"expected_detections\":[{\"detection\":\"specific detection alert name\",\"severity\":\"high\"}],\"talking_points\":{\"universal\":[\"key point 1\",\"key point 2\",\"key point 3\"],\"healthcare\":[\"healthcare-specific insight\"],\"financial_services\":[\"financial-specific insight\"],\"manufacturing\":[\"manufacturing-specific insight\"],\"retail\":[\"retail-specific insight\"]},\"se_runbook\":{\"setup\":\"Pre-demo setup notes for the SE\",\"steps\":[\"Step 1: configure environment\",\"Step 2: run simulation\",\"Step 3: review detections\"],\"talking_points_timing\":\"Mention talking points after first alert fires\"}}';\n\nconst prompt = `You are a cybersecurity expert building scenarios for MDR (Managed Detection & Response) product demos. Convert this real-world attack case into a structured demo scenario.\n\nAttack Case:\nTitle: ${c.title}\nDescription: ${c.description}\nThreat Actor: ${c.threat_actor || 'Unknown'}\nSource: ${c.source}\nIndustry: ${c.industry}\nMITRE Tactics: ${tactics}\nMITRE Techniques: ${techniques}\nTools/Malware: ${tools}\nAdditional Context: ${c.context || 'None provided'}\n\nReturn ONLY valid JSON matching this exact schema with no markdown, no code fences, no explanation:\n${schema}`;\n\nreturn [{ json: { prompt: prompt } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst https = require('https');\nconst http = require('http');\nconst prompt = $input.first().json.prompt;\nlet provider = 'ollama', apiKey = '', model = '';\ntry {\n  const cfg = JSON.parse(fs.readFileSync('/data/scenarios/ai-config.json', 'utf-8'));\n  provider = cfg.provider || 'ollama';\n  apiKey = cfg.apiKey || '';\n  model = cfg.model || '';\n} catch(e) {\n  provider = $env.AI_PROVIDER || 'ollama';\n  apiKey = $env.AI_API_KEY || '';\n  model = $env.AI_MODEL || '';\n}\nconst defaults = { anthropic: 'claude-sonnet-4-20250514', openai: 'gpt-4o', gemini: 'gemini-2.5-flash', ollama: $env.OLLAMA_MODEL || 'llama3.2:3b' };\nconst useModel = model || defaults[provider] || defaults.ollama;\nlet url, headers, body;\nswitch (provider) {\n  case 'anthropic':\n    url = 'https://api.anthropic.com/v1/messages';\n    headers = { 'x-api-key': apiKey, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' };\n    body = JSON.stringify({ model: useModel, max_tokens: 4096, messages: [{ role: 'user', content: prompt }] });\n    break;\n  case 'openai':\n    url = 'https://api.openai.com/v1/chat/completions';\n    headers = { 'Authorization': 'Bearer ' + apiKey, 'Content-Type': 'application/json' };\n    body = JSON.stringify({ model: useModel, messages: [{ role: 'user', content: prompt }] });\n    break;\n  case 'gemini':\n    url = 'https://generativelanguage.googleapis.com/v1beta/models/' + useModel + ':generateContent?key=' + apiKey;\n    headers = { 'Content-Type': 'application/json' };\n    body = JSON.stringify({ contents: [{ parts: [{ text: prompt }] }] });\n    break;\n  default:\n    url = ($env.OLLAMA_HOST || 'http://host.docker.internal:11434') + '/api/generate';\n    headers = { 'Content-Type': 'application/json' };\n    body = JSON.stringify({ model: useModel, prompt, stream: false });\n}\n\nconst parsed = new URL(url);\nconst transport = parsed.protocol === 'https:' ? https : http;\nconst data = await new Promise((resolve, reject) => {\n  const req = transport.request(url, { method: 'POST', headers, timeout: 120000 }, (res) => {\n    let chunks = '';\n    res.on('data', d => chunks += d);\n    res.on('end', () => {\n      if (res.statusCode >= 400) reject(new Error('AI provider error (' + provider + '): ' + res.statusCode + ' ' + chunks));\n      else resolve(chunks);\n    });\n  });\n  req.on('error', reject);\n  req.on('timeout', () => { req.destroy(); reject(new Error('AI request timed out')); });\n  if (body) req.write(body);\n  req.end();\n});\n\nconst response = JSON.parse(data);\nreturn [{ json: { provider, response } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Call AI Provider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const { provider, response } = $input.first().json;\nlet text;\nswitch (provider) {\n  case 'anthropic': text = response.content && response.content[0] ? response.content[0].text : ''; break;\n  case 'openai': text = response.choices && response.choices[0] ? response.choices[0].message.content : ''; break;\n  case 'gemini': text = response.candidates && response.candidates[0] ? response.candidates[0].content.parts[0].text : ''; break;\n  default: text = response.response || '';\n}\nreturn [{ json: { response: text } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response || '';\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst c = $('Parse Case Input').item.json;\n\nlet scenario;\ntry {\n  scenario = JSON.parse(cleaned);\n} catch(e) {\n  scenario = {\n    title: c.title || 'Custom Scenario',\n    description: c.description || '',\n    mitre_tactics: c.mitre_tactics || [],\n    mitre_techniques: (c.mitre_techniques || []).map(t => typeof t === 'string' ? {id:t, name:t} : t),\n    tools: c.tools || [],\n    atomic_tests: [],\n    caldera_ability: '',\n    audience: 'Technical',\n    platform: 'windows',\n    execution_engine: 'atomic',\n    expected_detections: [],\n    talking_points: { universal: [] },\n    se_runbook: { setup: '', steps: [], talking_points_timing: '' }\n  };\n}\n\nif (scenario.mitre_techniques) {\n  scenario.mitre_techniques = scenario.mitre_techniques.map(t =>\n    typeof t === 'string' ? {id: t, name: t} : t\n  );\n}\n\nconst scenarioId = 'SCN-CASE-' + Date.now().toString().slice(-6);\nscenario.id = scenarioId;\nscenario.source = 'case-submission';\nscenario.ai_provider = $('Call AI Provider').first().json.provider || 'unknown';\nscenario.case_id = c.case_id;\nscenario.submitted_by = c.submitted_by;\nif (!scenario.industry) scenario.industry = c.industry || 'universal';\n\nreturn [{ json: scenario }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Build Scenario JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst filePath = '/data/scenarios/scenarios.json';\nlet db;\ntry { db = JSON.parse(fs.readFileSync(filePath, 'utf8')); }\ncatch(e) { db = { version: '1.0', last_updated: '', scenarios: [] }; }\n\nconst s = $input.first().json;\nconst idx = db.scenarios.findIndex(x => x.id === s.id);\nif (idx >= 0) { db.scenarios[idx] = s; } else { db.scenarios.push(s); }\ndb.last_updated = new Date().toISOString().split('T')[0];\nfs.writeFileSync(filePath, JSON.stringify(db, null, 2), 'utf8');\n\nreturn [{ json: { status: 'queued', scenario_id: s.id, case_id: s.case_id, message: 'Scenario generated and added to catalog' } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Write to scenarios.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        740,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - Case Ingest": {
      "main": [
        [
          {
            "node": "Parse Case Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Case Input": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call AI Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Provider": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Build Scenario JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scenario JSON": {
      "main": [
        [
          {
            "node": "Write to scenarios.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to scenarios.json": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "mdrCaseIngest01"
}
