n8n/workflows/config_api.json
{
  "id": "configApi01",
  "name": "Adversary Sim — Config API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "config",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-config",
      "name": "Webhook: Config",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 200],
      "webhookId": "advsim-config"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    guacProxy:   '/guacamole',\n    guacAdmin:   'guacadmin',\n    guacAdminPw: 'guacadmin',\n    guacDs:      'postgresql',\n    victimUser:  'demo',\n    victimPass:  'Demo1234!',\n  }\n}];"
      },
      "id": "code-config",
      "name": "Build Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-config",
      "name": "Respond: Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 200]
    }
  ],
  "connections": {
    "Webhook: Config": { "main": [[{ "node": "Build Config", "type": "main", "index": 0 }]] },
    "Build Config": { "main": [[{ "node": "Respond: Config", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "adversary-sim" }]
}
