n8n/workflows/scenario_approve.json
{
  "name": "MDR Scenario Approve",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scenario-approve",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000001",
      "name": "Webhook - Scenario Approve",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "webhookId": "mdr-scenario-approve"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst filePath = '/data/scenarios/scenarios.json';\nconst body = $input.first().json.body || $input.first().json;\nconst caseData = body.case || {};\nconst caseId = body.case_id || caseData.id || '';\nconst action = body.action || 'approve';\n\nif (action !== 'approve') {\n  return [{ json: { status: 'skipped', message: 'Non-approve action ignored' } }];\n}\n\nlet db;\ntry { db = JSON.parse(fs.readFileSync(filePath, 'utf8')); }\ncatch(e) { db = { version: '1.0', last_updated: '', scenarios: [] }; }\n\n// If already in catalog (generated by case-ingest), just confirm\nconst existing = db.scenarios.find(s => s.case_id === caseId);\nif (existing) {\n  return [{ json: { status: 'approved', scenario_id: existing.id, case_id: caseId, message: 'Scenario already in catalog' } }];\n}\n\n// Build minimal scenario from case data and publish\nconst tactics = caseData.mitre_tactics || [];\nconst techniques = (caseData.mitre_techniques || []).map(t => typeof t === 'string' ? {id:t, name:t} : t);\nconst id = 'SCN-APPR-' + Date.now().toString().slice(-6);\n\nconst scenario = {\n  id: id,\n  title: caseData.title || 'Approved Case Scenario',\n  description: caseData.description || '',\n  mitre_tactics: tactics,\n  mitre_techniques: techniques,\n  tools: caseData.tools || [],\n  atomic_tests: [],\n  caldera_ability: '',\n  audience: 'Technical',\n  platform: 'windows',\n  execution_engine: 'atomic',\n  expected_detections: [],\n  talking_points: {\n    universal: [\n      'Based on a real-world ' + (caseData.source || 'incident') + ' case',\n      'Threat actor: ' + (caseData.threat_actor || 'Unknown'),\n      'Submitted by: ' + (caseData.submitted_by || 'MDR Team')\n    ]\n  },\n  se_runbook: {\n    setup: 'Original case source: ' + (caseData.source || 'Unknown') + '. Context: ' + (caseData.context || 'None'),\n    steps: ['Review case details with customer', 'Configure target environment', 'Launch simulation and observe detections'],\n    talking_points_timing: 'Introduce talking points after initial detection fires'\n  },\n  source: 'case-approved',\n  case_id: caseId,\n  submitted_by: caseData.submitted_by || '',\n  industry: caseData.industry || 'universal'\n};\n\ndb.scenarios.push(scenario);\ndb.last_updated = new Date().toISOString().split('T')[0];\nfs.writeFileSync(filePath, JSON.stringify(db, null, 2), 'utf8');\n\nreturn [{ json: { status: 'approved', scenario_id: id, case_id: caseId, message: 'Scenario published to catalog' } }];"
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000002",
      "name": "Process Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        80,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - Scenario Approve": {
      "main": [
        [
          {
            "node": "Process Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Approval": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "mdrScenApprove1"
}